<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Usuário</title>
</head>
<body>
    <h1>Menu do Usuário</h1>
    <p>Email: <%= email %></p>
    <ul>
        <li><a href="#">Opção 1</a></li>
        <li><a href="#">Opção 2</a></li>
        <li><a href="#">Opção 3</a></li>
       
        <li><a href="/logout">Sair</a></li> 
    </ul>
</body>
</html>